
{% load static %}

<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- <div class="container my-5"> -->
    <!-- Footer -->
    
    <link href='{% static "./css/styles.css" %}' rel='stylesheet' type='text/css' >
    
    <footer class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.699)">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="home" class="text-white"> Home</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="accounts/register"class="text-white">Signup</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="accounts/login" class="text-white">login</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-5" />
  
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                We are a food delivery app. We give business opportunities to food vendors 
        and riders. <br> Food vendors benefit from showcasing and posting  the variety of dishes 
        they make <br> and <br> the riders on the other hand are privileged to deliver the meals.<br>
        Where Customers have a wide range of food to choose from depending on there taste <br>
         or craving and have it delivered at there door step.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->

        
        <section class="text-center mb-5">
          <!-- <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a> -->
          <div class="card-footer text-muted">
            <!-- <h3>Contact us</h3> -->
            <!-- <img src="https://img.icons8.com/doodle/48/null/facebook-circled.png"/> -->
              <a style="margin-right:15px ;" href="https://twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
              <a style="margin-right:15px ;" href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>         
              <a style="margin-right:15px ;" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
              <a style="margin-right:15px ;" href="https://pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a> 
          </div>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright:
        <!-- <a class="text-white" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a -->
          
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  <!-- </div> -->
  <!-- End of .container -->






 