{% load static%}


    <ul class="nav justify-content-end" style="margin-right: 20px;">
        <li class="nav-item">
          <a class="nav-link active" style="color: black; font-weight: bolder;" href="/"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black; font-weight: bolder;" href=" about us"> About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;  font-weight: bolder;" href="accounts/login">Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black; font-weight: bolder; " href="accounts/register"> Signup </a>
        </li>
      </ul>
      
</body>
</html>