{% load static%}

<link href='{% static "./css/styles.css" %}' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <ul class="nav justify-content-end" style="margin-right: 20px;">
        <li class="nav-item">
          <a class="nav-link active" style="color: black; " href="/"> Home</a>
        </li>
        
        
        <!-- <li class="nav-item">
          <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{order.get_cart_item}}</b></span></h4>
          </li>   -->
        
        
        {% if user.is_authenticated %}
        <li class="nav-item">
          <!-- <a class="nav-link" style="color: black; font-weight: bolder;" href="#"> {{request.user.username}} is logged in</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black; " href="/store"> Order</a>
        </li>
        {% if user.is_vendor %}  
        <li class="nav-item">
          <!-- <a class="nav-link" style="color: black; font-weight: bolder;" href="profile"> Profile for {{request.user.username}} </a> -->
          <a class="nav-link" style="color: black; " href="{% url 'vendor' %}"> Profile for {{request.user.username}} </a>
        </li>
        <!-- <a class="nav-link" style="color: black; font-weight: bolder;" href="profile"> Profile for {{request.user.username}} </a> -->
        <a class="nav-link" style="color: black; " href="{% url 'post' %}"> Post Food </a>
      </li>
        {% endif %}
        {% if user.is_rider %}  
        <li class="nav-item">
          <!-- <a class="nav-link" style="color: black; font-weight: bolder;" href="profile"> Profile for {{request.user.username}} </a> -->
          <a class="nav-link" style="color: black; " href="{% url 'rider' %}"> Profile for {{request.user.username}} </a>
        </li>
        {% endif %}
        {% if user.is_customer %}  
        <li class="nav-item">
          <!-- <a class="nav-link" style="color: black; font-weight: bolder;" href="profile"> Profile for {{request.user.username}} </a> -->
          <a class="nav-link" style="color: black; " href="{% url 'customer' %}"> Profile for {{request.user.username}} </a>
        </li>
        {% endif %}
        {% if user.is_superuser %}  
        <li class="nav-item">
          <!-- <a class="nav-link" style="color: black; font-weight: bolder;" href="profile"> Profile for {{request.user.username}} </a> -->
          <a class="nav-link" style="color: black; " href="{% url 'adminpage' %}"> Profile for {{request.user.username}} </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" style="color: black;  " href="accounts/logout"> logout </a>
        </li>


        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link" style="color: black; font-weight: bolder; " href="{% url 'store' %}"> Cart {{request.session.cart|length}}</i> </a> -->
          <!-- <p id="cart-total">{{request.session.cart|length}}</p> -->
        <!-- </li> -->

         <li class="nav-item">
    
          <a class="nav-link" style="color: black; " id="num_of_items" href="{% url 'cart' %}"> Cart {{cart.num_of_items}}</a>
          
          <!-- <i  id="num_of_items" class="fa fa-shopping-cart" href="{% url 'cart' %}" > {{cart.num_of_items}} </i> -->
          
          <!-- <p id="cart-total">{{request.session.cart|length}}</p> -->
        </li> 



        <!-- <li class="nav-item">
          <h4> <span class="price" style="color:black"  href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> <b></b></span></h4>
          <p id="cart-total">0</p>
          </li>  -->

          {% if user.is_superuser %}  

          <li class="nav-item">
            <a class="nav-link" style="color: black;  " href="{%url 'approval'%}">Admin Approval</a>
          </li>

          {% endif %}
        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" style="color: black;  " href="login/">Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;  " href="register/"> Signup </a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" style="color: black; font-weight: bolder; " href="{% url 'store' %}" > Cart</a>
          <p id="cart-total">{{value.quantity}}</p>
        </li> -->
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        </ul> -->
        <!-- <i class="fa fa-shopping-cart"></i>  -->
        {% endif %}
        
       
      </ul>
      
</body>
</html>

