{% load static%}


    <ul class="nav justify-content-end" style="margin-right: 20px;">
        <li class="nav-item">
          <a class="nav-link active" href="#"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Signup </a>
        </li>
      </ul>
      
</body>
</html>