{%extends "moto/base.html"%}
{% load bootstrap5 %}
{% block content %}
{% load static %}


<br><br>
<h3 align="center">Customer Profile and posts</h3>

<!-- <div class="container">
  <div class="content-section" >
      <div class="static">
          <a href="{% url 'edit_profile' %}"> Edit Profile </a>
          <img class="rounded-circle account-img" style="width: 10%;" src=" {{ user.profile.photo.url }} " alt="">
          <! <img class="rounded-circle account-img" style="width: 10%;" src="/static/images/burger and chips.jpg" alt=""> Restaurant name -->
          
          <!-- <div class="static-body">
              <h2 class="account-heading">Name {{ user.profile.full_name }} </h2>
              <p class="test-secondary">Mobile Number: {{user.profile.mobile_number }} </p>
              <p class="test-secondary"> Email: {{user.profile.email }} </p> -->
              <!-- <p class="test-secondary"> Description: {{user.profile.description }} </p>
              <p class="test-secondary"> Location: {{user.profile.location }} </p> -->
              <!-- <p class="test-secondary">Approved: {{user.customer.approved}} </p>
          </div>    
      </div>
  </div>
</div> --> 

<section style="background-color: #eee;" align="center">
  <div class="container py-5">     

    <div class="row">
      <!-- <div class="col-lg-4"> -->
        <!-- <div class="card mb-4">
          <div class="card-body text-center"> -->
            <!-- <img class="rounded-circle account-img" style="width: 10%;" src=" {{ user.profile.image.url }} " alt=""> -->
            <!-- <img src={{ user.profile.photo.url }} 
              class="rounded-circle img-fluid" style="width: 150px;" alt=" " >
            <h5 class="my-3"> Profile for {{user.username}}</h5>
            <a class="breadcrumb-item" style="margin-left: 5%;" href="{% url 'edit_profile' %}"> Edit Profile </a>
             -->
           
          <!-- </div>
        </div> -->
      
      <!-- </div> -->
      <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
            <img src={{ user.profile.photo.url }} 
              class="rounded-circle img-fluid" style="width: 150px;" alt=" " >
            <h5 class="my-3"> Profile for {{user.username}}</h5>
            <a class="breadcrumb-item" style="margin-left: 5%;" href="{% url 'edit_profile' %}"> Edit Profile </a>
            
              <!-- <div class="col-sm-3">
                <p class="mb-0">Full Name:</p>
              </div> -->
              <!-- <div class="col-sm-9">
                <h5 class="my-3"> {{user.profile.full_name }}</h5> -->
                <!-- <p class="text-muted mb-0">{{user.full_name }} </p> -->
              <!-- </div> -->
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3" >
                <p style="margin-left: 10px;" class="mb-0">Full Name:</p>
              </div>
              <div class="col-sm-9">
                
                <p class="text-muted mb-0">{{user.profile.full_name }} </p>
              </div>
            </div>
            <!-- <hr> -->
            <hr>
            <div class="row">
              <div class="col-sm-3" >
                <p style="margin-left: 10px;" class="mb-0">Email:</p>
              </div>
              <div class="col-sm-9">
                
                <p class="text-muted mb-0">{{user.email }} </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p style="margin-left: 10px;" class="mb-0">Mobile Number:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.profile.mobile_number }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p style="margin-left: 10px;" class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.profile.mobile_number }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p style="margin-left: 10px;" class="mb-0">Location:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" style="margin-bottom:10px ;">{{user.profile.location }}</p>
              </div>
            </div>
            <hr>
            <!-- <hr>
            <div class="row">
              <div class="col-sm-3">
                <p style="margin-left: 10px;" class="mb-0">Approved:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" style="margin-bottom:10px ;">{{user.vendor.approved}}</p>
              </div>


               
            </div> -->
          </div>
        </div>
        
      </div>
    </div>
  </div>

  
</section> 


{% endblock content%}