{%extends "moto/base.html"%}
{% load bootstrap5 %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <div class="col-md-9 col-sm-8 content">
        <div class="row">
            <div class="col-md-12">
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Cart</li>
                </ol> -->
            </div>
        </div>
            <br><br>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info panel-shadow">


                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Food Name</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr id="cart_item_{{item.product.id}}">
                                        <!-- <td><img class="img-fluid img-thumbnail" style="width: 21rem; height: 18rem;"src= "{{ product.image.url}}"  alt="" > </td> -->
                                        <td><strong>{{ item.product.name }}</strong>
                                            <p></p>
                                        </td>
                                        <td>
                                            <div class="form-inline">
                                                <input id="qty_{{ item.product.id }}" class="form-control" type="text" value={{ item.quantity }}>
                                                <!-- <button rel="tooltip" class="btn btn-default"><i class="fa fa-pencil"></i></button> -->
                                                <!-- <a href="#" class="btn btn-primary"><i class="fa fa-trash-o"></i></a> -->
                                                <button type="button" id="inc_{{ item.product.id }}" data-id="{{item.product.id}}" > Increase </button>  
                                                <button type="button" id="dec_{{ item.product.id }}" data-id="{{item.product.id}}" > Decrease </button> 
                                                
                                                <!-- <a href="#">Increase</a> 
                                                <a href="#">Decrease</a> -->
                                            </div>


                                        </td>
                                        <td>Ksh {{ item.product.price }}</td>
                                        <td data-unit_price="{{ item.product.price }}" id="item_price_{{ item.product.id }}">Ksh {{ item.price }}</td>

                                    </tr>

                                    {% endfor %}

                                    <tr>
                                        <td colspan="4" class="text-right"><strong>Total</strong>
                                        </td>
                                        <td data-grand="{{cart.total_price}}" id="grand_total"> Ksh {{cart.total_price}}</td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="{% url 'store' %}" class="btn btn-success"><span
                        class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue Shopping</a>
                <a href="{%url 'checkout'%}" class="btn btn-primary pull-right">Go to checkout<span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}










